header {
    background-color: #960067;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    width: 16em;

}
.real-header{
    margin: 5% 5% 0 0;
}

.avatar,
.avatar-name {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
