* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #545149;
  font-size: 24px;
  font-family: Source Sans Pro, sans-serif;
  height: 100%;
  background-color: #f5f8ff;
  background-image: url("https://www.transparenttextures.com/patterns/ecailles.png");
}
.outter-container {
  margin: 3% 5% 0 0;
}
.entire {
  display: flex;
  justify-content: center;
}