nav {
    height: 50px;
    text-align: center;
    background-color: #4056A1;
    color: #FFFF;
    padding: 1.5em;
    transition: height 400ms ease;
}

.navRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    font-family: Bungee, sans-serif;
    font-weight: 600;
    font-size: 50px;
    justify-content: flex-start;
    flex-direction: column;
}

.phrase {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.sticky {
    height: 35px;
    top: 0;
    position: sticky;
    width: 97%;
}